browser-profile/*
!browser-profile/.gitkeep

data/*
!data/.gitkeep

file/*
!file/.gitkeep
!file/output/.gitkeep

# 
node_modules
.env

browser-profile
browser-profile-*
codegen-profile
output/*
traces/*
download/*